<html>
    <head>
        <title>Blog App</title>
        <link rel="stylesheet" type="text/css" href="stylesheets/semantic.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/app.css">
    </head>
    <body>
    
   